<ng-container *ngIf="archi?.restriccion != ''">
    <div *ngIf="archi?.clave">
        <h4>Ingrese la clave para descargar el archivo</h4>
        <label class="form-label">Clave de restricción</label>
        <input type="text" [(ngModel)]="clave" >
        <button type="button" (click)="validar()" class="btn btn-secondary">Validar</button>
        <div *ngIf="archi?.clave && claveValida">
            <label for="" ><a href="{{archi.url}}" target="_blank">{{archi.nombre}}</a> </label>
        </div>
        <div *ngIf="archi?.clave">
            <h5>{{msjValidacion}}</h5>
        </div>
    </div>
    <div *ngIf="archi?.caducidad">
        <div *ngIf="archi?.caducidad && claveValida">
            <label for="" ><a href="{{archi.url}}" target="_blank">{{archi.nombre}}</a> </label>
        </div>
        <div *ngIf="archi?.caducidad">
            <h5>{{msjValidacion}}</h5>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="archi?.restriccion == ''">
    <div>
        <label for="" ><a href="{{archi.url}}" target="_blank">{{archi.nombre}}</a> </label>
    </div>
</ng-container>



