<div class="row">
    <div class="col-6">
    </div>
    <div class="col-6 text-end">
        <button type="button" class="btn btn-secondary">{{usuario.username}} {{usuario.tipo}}</button>
        <button (click)="cerrarSesion()"  class="btn btn-secondary">Cerrar sesión</button>
        
    </div>
</div>
<div class="row bg-light border rounded-3 mt-1">
    <div class="col-6">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Archivo</th>
                <th scope="col">Descargas</th>
                <th scope="col">Version</th>
                <th scope="col">Fecha</th>
                <th scope="col">Restricción</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Directorio</th>
                <th scope="col">Disponibilidad</th>
                <!-- <th scope="col">Acciones</th> -->
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let archivo of archivos">
                <td scope="row">{{archivo.nombre}}</td>
                <td>{{archivo.descargas}}</td>
                <td>{{archivo.version}}</td>
                <td>{{archivo.fecha | date:'short' }}</td>
                <td>{{archivo.clave}}{{archivo.caducidad | date:'short'}}{{(!archivo.clave && !archivo.caducidad)? 'Sin restricción':''}}</td>
                <td>{{archivo.size}}</td>
                <td>{{archivo.directorio}}</td>
                <td *ngIf="!archivo.vencimiento">
                    <a [href]="win.location.protocol + '//' + win.location.hostname + ':' + win.location.port + '/generar-descarga?id=' + archivo.id" class="btn btn-secondary btn-sm" target="_blank">Abrir</a>
                    <button (click)="eliminarArchivo(archivo)" class="btn btn-secondary btn-sm">Eliminar</button>
                </td>
                <td *ngIf="archivo.vencimiento">
                    <button class="btn btn-secondary btn-sm">Vencido</button>
                </td>
            </tr>
          </table>
    </div>
    <div class="col-5">
        <app-drop-files>        
        </app-drop-files>
    </div>
</div>
<!-- <div class="row bg-light border rounded-3 mt-1">
    <div class="col-6">
        <button type="button" (click)="crearcarpeta()" class="btn btn-secondary">Crear carpeta</button>
        <div *ngIf="nuevacarpeta">  
            <div class="mb-3">
                <label class="form-label">Nombre de la carpeta</label>
                <input type="nombrecarpeta" class="form-control" id="usuario">
            </div>
        </div>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-secondary" (click)="seleccionardirectorio()">Seleccionar directorio del archivo</button>
        <div *ngIf="nuevodirectorio">
            <label class="form-label">Seleccionar directorio existente</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Elegir directorio...</option>
                <option value="1">Directorio 1</option>
                <option value="2">Directorio 3</option>
                <option value="3">Directorio 2</option>
            </select>
        </div>
    </div>
</div> -->
<div class="row bg-light border rounded-3 mt-1">
    <div class="col-6">
    </div>
    <div class="col-6 text-end">
    </div>
</div>
<div class="row bg-light border rounded-3 mt-1">
    <!-- <div class="col-3">
        <button type="button" class="btn btn-secondary">Copiar nombre del achivo</button>
    </div> -->
    <!-- <div class="col-3 text-start">
        <h6>Compartir con acceso: </h6>
    </div> -->
    <!-- <div class="col-3 text-start">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Clave</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Tiempo</label>
        </div>
    </div> -->
    <!-- <div class="col-3">
        <button type="button" class="btn btn-secondary"><i class="bi bi-share-fill"></i>Generar link</button>
    </div> -->
</div>







<!-- <div class="row bg-light border rounded-3 mt-1">
    <div class="col-12">
        <h6>Alta de archivo para test</h6>
        <form (ngSubmit)="onSubmit()" [formGroup]="nuevoArchivoForm" method="post" novalidate>
            <div class="input-group mb-3">
                <span class="input-group-text">Nombre</span>
                <input formControlName="nombre" name="nombre" [(ngModel)]="archivo.nombre"  required class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Tamanio</span>
                <input formControlName="tamanio" type="number" name="tamanio" [(ngModel)]="archivo.tamanio" required class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Descargas</span>
                <input formControlName="descargas" type="number" name="descargas" [(ngModel)]="archivo.descargas" required class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Version</span>
                <input formControlName="version" name="version" [(ngModel)]="archivo.version" required class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Fecha</span>
                <input formControlName="fecha" name="fecha" [(ngModel)]="archivo.fecha" required class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Acceso</span>
                <input formControlName="clave" name="clave" [(ngModel)]="archivo.clave" required class="form-control">
            </div>
            <button class="btn btn-secondary" type="submit">Test archivo nuevo</button>
          </form>
    </div>
</div> -->

