<!-- <div *ngIf="tipo && (tipo == 'free' || 'pro')" class="center"> -->
    <h4>Subir archivo</h4>
    <label for=""><b>1) Cargar archivo para compartir (*)</b></label>
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Arrastrar archivo ó :
          <button type="button" (click)="openFileSelector()">Buscar archivo</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>(*) Archivo seleccionado para compartir</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td>Archivo seleccionado: {{ item.relativePath }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <label class="text-warning">{{msjValidacion}}</label>
    
<!-- </div> -->

<div *ngIf="tipo && (tipo == 'free' || 'pro')" class="row bg-light border rounded-3 mt-1">
    <div class="col-6">
        <label><b>2) Opcional: crear directorio o seleccionar directorio existente</b></label>
        <button type="button" (click)="crearcarpeta()" class="btn btn-secondary">Crear directorio</button>
        <div *ngIf="nuevacarpeta">  
            <div class="mb-3">
                <label class="form-label">Nombre de la carpeta</label>
                <input [(ngModel)]="archivo.directorio" type="nombrecarpeta" class="form-control" id="usuario">
            </div>
        </div>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-secondary" (click)="seleccionardirectorio()">Seleccionar directorio</button>
        <div *ngIf="nuevodirectorio">
            <label class="form-label">Seleccionar directorio</label>
            <select [(ngModel)]="archivo.directorio" class="form-select" aria-label="Default select example">
                <ng-container *ngFor="let dir of directorios()">
                    <option [value]="dir">{{dir}}</option>
                </ng-container>
            </select>
        </div>
    </div>
</div>

<div class="row bg-light border mt-1">
    <label for=""><b>3) Opcional: compartir con restricción</b></label>
    <div class="col-6 text-start">
        <button type="button" class="btn btn-secondary" (click)="restriccion()">Elegir restricción</button>
        
        <button *ngIf="restriccionAcceso" type="button" class="btn btn-secondary" (click)="sinRestriccion()">Sin restricción</button>

        <div *ngIf="restriccionAcceso">
            <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="archivo.restriccion" type="radio" name="restriccion" id="clave" value="clave">
                <label class="form-check-label" for="inlineRadio1">Clave</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="archivo.restriccion" type="radio" name="restriccion" id="caducidad" value="caducidad">
                <label class="form-check-label" for="inlineRadio2">Tiempo</label>
            </div>
            
        </div>
    </div>      
    <!-- <div class="col-6 mt-1">
        <button type="button" class="btn btn-secondary" (click)="modalcompartir()"><i class="bi bi-share-fill"></i>Generar link</button>
    </div> -->
</div>

<ng-container *ngIf="restriccionAcceso">
    <div>
        <div class="mb-3" *ngIf="archivo.restriccion == 'clave'">
            <label class="form-label">Clave</label>
            <input type="text" [(ngModel)]="archivo.clave" name="clave" class="form-control" id="clave" placeholder="*****">
        </div>
        <div class="mb-3" *ngIf="archivo.restriccion == 'caducidad'">
            <label class="form-label">Tiempo</label>
            <input type="date" [(ngModel)]="archivo.caducidad" name="caducidad" class="form-control" id="tiempo" placeholder="Elegir">
        </div>
       
        
    </div>
</ng-container>

<div>
    <div class="mb-3 mt-3">
        <button [disabled]="msjValidacion != ''" type="button" class="btn btn-secondary" (click)=" subirArchivo() "><i class="bi bi-share-fill"></i>Generar link</button>
        <button type="button" class="btn btn-secondary" ><i class="bi bi-share-fill"></i>Cancelar</button>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Link para compartir</label>
        <input type="text" [(ngModel)]="urlDescarga" name="urlDescarga" class="form-control" id="link">
    </div>
</div>
