<div class="row">
    <div class="col-6">
    </div>
    <div class="row bg-light border rounded-3 mt-1">
        <div class="col-6">
            <form action="">
                <h4>Iniciar sesion</h4>
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="usuario" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <button type="button" (click)="login()" class="btn btn-secondary">Login</button>
                    <button type="button" routerLink="/registro" class="btn btn-secondary">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <app-drop-files>
                
            </app-drop-files>
        </div>
    </div>     
</div>
<br>

