<div class="row">
    <div class="col-6">
    </div>
    <div class="row bg-light border rounded-3 mt-1">
        <form action="">
            <div class="col-6">
                <h4>Registrarse</h4>
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input required [(ngModel)]="registeruser.username" name="username" type="text" class="form-control" id="usuario">
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input required [(ngModel)]="registeruser.email" name="email" type="email" class="form-control" id="mailusuario" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input required minlength="8" [(ngModel)]="registeruser.password" name="password" type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label class="form-label">Repetir password</label>
                    <input required minlength="8" [(ngModel)]="registeruser.reppassword" name="reppassword" type="password" class="form-control" id="reppassword">
                </div>
                <div class="mb-3">
                    <label class="form-label">Tipo de usuario</label>
                    <div class="form-check">
                        <input required [(ngModel)]="registeruser.tipo" name="tipo" class="form-check-input" value="free" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          FREE
                        </label>
                      </div>
                      <div class="form-check">
                        <input required [(ngModel)]="registeruser.tipo" name="tipo" class="form-check-input" value="pro" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          PRO
                        </label>
                      </div>
                </div>
                <label class="text-danger">{{msjValidacion}}</label>
                
                <div class="mb-3">
                    <button type="button" (click)="registrarse()" class="btn btn-secondary">Registrarse</button>
                    <button type="button" routerLink="/inicio" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>
        </form> 
    </div>     
</div>
